* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

header {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-content: center;
    border-bottom: 1px solid black;
}

header div {
    align-self: center;
    margin-left: 10px;
}

header div {
    font-size: 2rem;
    font-weight: 300;
}

header div .separator {
    font-weight: 500;
    font-size: 2.2rem;
    color: #93c572;
}

header div .bold {
    font-weight: 700;
}

.main {
    width: 100vw;
    height: calc(100vh - 48px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.playground {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.board {
    display: flex;
    flex-direction: column;
    width: 260px;
    align-items: center;
    justify-content: center;
}

.board h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 12px;
}

#board300 {
    border: 1px solid black;
    cursor: crosshair;
}

#board28 {
    display: none;
}

.buttonErase {
    width: 45px;
    height: 45px;
    background: #93c572;
    border-radius: 10px;
    border: none;
    margin: 8px;
    margin-left: 0;
    cursor: pointer;
    align-self: flex-start;
}

.icon {
    font-size: 25px;
    color: white;
}

.result {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.description {
    font-weight: 300;
    font-size: 2.4rem;
}

#prediction {
    font-size: 7rem;
}

@media (max-width: 664px) {
    .main {
        margin-top: 20px;
        align-items:flex-start;
    }
    .playground {
        flex-direction: column;
        align-items: center;
    }
    .result {
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1.5px solid gray;
    }
}
